@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: white;
    background-color: burlywood;
}

h1, h2 {
    font-family: oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color:#fff;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}    
    
#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: grey;
}

#menu a:hover {
    color: rgb(255, 255, 255);
}

.active {
    color: chartreuse;
}

.container {
    padding: 8rem;
    border-bottom: 1px solid #25231f;
}

.slider-wrapper {
    position: relative;
    top: 0cm;
    left: 0cm;
    max-width: 110rem;
    margin: 0 auto;
    height: 600px;
    width: 100%;
}

.slider {
    display: flex;
    aspect-ratio: 16 / 10;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 0.5rem;
    box-shadow: rgb(0, 0, 0) 0px 5px 15px;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}

.first-about {
    padding: 5px;
    width: 20%;
    float: left;
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 0.5rem;
    box-shadow: rgb(0, 0, 0) 0px 5px 15px;
}


.second-about {
    padding: 5px;
    width: 20%;
    float: left;
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 0.5rem;
    box-shadow: rgb(0, 0, 0) 0px 5px 15px;
}

.third-about {
    padding: 5px;
    width: 20%;
    float: left;
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 0.5rem;
    box-shadow: rgb(0, 0, 0) 0px 5px 15px;
}

.fourth-about {
    padding: 5px;
    width: 20%;
    float: left;
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 0.5rem;
    box-shadow: rgb(0, 0, 0) 0px 5px 15px;
}

#club-ethos::after {
    content: "";
    clear: both;
    display: table;
}

#top {
    text-align: center;
    font-size: 600%;
}

#directions {
    text-align: center;
    font-size: 200%;
    color: grey;
}

.first-about h2, h6 {
    text-align: center;
}

.second-about h2, h6 {
    text-align: center;
}

.third-about h2, h6 {
    text-align: center;
}

.fourth-about h2, h6 {
    text-align: center;
}

.first-about > img {
   width: 100%;
   object-fit: cover;
   height: 200px;
   margin-bottom: 20px;
}

.second-about > img {
   width: 100%;
   object-fit: cover;
   height: 200px;
   margin-bottom: 20px;
}

.third-about > img {
   width: 100%;
   object-fit: cover;
   height: 200px;
   margin-bottom: 20px;
}

.fourth-about > img {
   width: 100%;
   object-fit: cover;
   height: 200px;
   margin-bottom: 20px;
}

.first-about > p {
    text-align: center;
    color: black;
    text-transform: uppercase;
    font: bold;
    margin-top: 5px;
    font-size: larger;
    font-family: oswald sans-serif;
}

.second-about > p {
    text-align: center;
    color: black;
    text-transform: uppercase;
    font: bold;
    margin-top: 5px;
    font-size: larger;
    font-family: oswald sans-serif;
}

.third-about > p {
    text-align: center;
    color: black;
    text-transform: uppercase;
    font: bold;
    margin-top: 5px;
    font-size: larger;
    font-family: oswald sans-serif;
}

.fourth-about > p {
    text-align: center;
    color: black;
    text-transform: uppercase;
    font: bold;
    margin-top: 5px;
    font-size: larger;
    font-family: oswald sans-serif;
}

.first-about > h6 {
    color: darkgrey;
}

.picture  img {
    width:100%;
    height: auto;
    margin-top: 100px;
}

#cover-text {
    color: #fff;
    font-size: 250%;
    font-family: oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    position: absolute;
    top: 275%;
    left: 40%;
}

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

#service {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#service div {
    width: 30%;
    height: 300px;
    float: left;
    padding: 100px 0 0 10px;
    text-align: center;
    box-sizing: border-box;
}

#service h2 {
    padding-top: 20px;
}

#cover-text2 {
    color: #fff;
    font-size: 250%;
    font-family: oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    position: absolute;
    top: 170%;
    left: 40%;
}

.container3{
    min-height: 100vh;
    background: rgba(0, 0, 0, .6);
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/assets/images/happy-people-on-the-beach-at-sunset.jpeg) no-repeat center center/cover;
    width: 100%;
}

.container3 form {
    width: 670px;
    height: 400px;
    display: flex;
    justify-content: center;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    flex-wrap: wrap;
}

.container3 form h1 {
    color: #fff;
    font-weight: 500;
    margin-top: 10px;
    width: 500px;
    text-align: center;
}

.container3 form input {
    width: 290px;
    height: 40px;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: 15px;
    margin-bottom: 10px;
    background: none;
    border-bottom: 2px solid #fff;
}

.container3 form inpu::placeholder {
    color: #ddd;
}

.container3 form #lastName, .container3 form #mobile {
    margin-left: 20px;
}

.container3 form h4 {
    color: #fff;
    font-weight: 300;
    width: 600px;
    margin-top: 20px;
}

.container3 form > textarea {
    background: none;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-weight: 200;
    font-size: 15px;
    padding: 10px;
    outline: none;
    min-width: 600px;
    max-width: 600px;
    min-height: 80px;
    max-height: 80px;
}

textarea::-webkit-scrollbar {
    width: 1em;
}

textarea::-webkit-scrollbar-thumb {
    background-color: rgba(194, 194, 194, 0.713);
}

.container3 form #button {
    border: none;
    background: #fff;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
    color: #333;
    width: 100px;
    padding: 0;
    margin-right: 500px;
    margin-bottom: 30px;
    transition: 0.3s;
}

.container3 form #button:hover {
    opacity: 0.7;
}